/* You can add global styles to this file, and also import other style files */
body
{
    background-image: url("https://cdn.pixabay.com/photo/2024/02/14/14/57/mountains-8573646_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #212529;
    margin: 0;
    padding: 0;

}

